/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.FlowTest
{
	flow-children: down;
	height: 100px;
	border: 1px solid blue;
	align: center center;
}

.Child
{
	height: fill-parent-flow(1);
	border: 1px solid red;
}

#Child4
{
	height: fill-parent-flow(4);
}

