/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.EG_Root
{
	width: 100%;
	height: 100%;
}

.EG_FadeBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/custom_game/end_game/fade_bg_png.vtex");
	background-size: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.EG_StartPhase_2 .EG_FadeBG,.EG_StartPhase_3 .EG_FadeBG,.EG_StartPhase_4 .EG_FadeBG
{
	opacity: 1;
}

.EG_Phase
{
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-in-out 0s;
	opacity: 0;
}

#EG_Phase_1
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 1)), color-stop(0.4, rgba(0, 0, 0, 0.8)), color-stop(0.5, transparent), color-stop(0.7, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 1)) );
}

.EG_StartPhase_1 #EG_Phase_1,.EG_StartPhase_2 #EG_Phase_1
{
	opacity: 1;
}

.EG_VictoryTeam
{
	font-size: 80px;
	color: #cccccc;
	text-transform: uppercase;
	text-align: right;
	text-overflow: shrink;
	padding-right: 50px;
	font-family: titleFont;
	horizontal-align: center;
	text-shadow: black 0px 0px 3px 3;
	margin-top: 25%;
}

#EG_TopTeamsPreviews_Root
{
	flow-children: right;
	horizontal-align: center;
	padding-left: -30px;
	margin-top: 300px;
}

.EG_TeamScorePreview
{
	margin-left: 30px;
	margin-top: 70px;
}

.EG_TeamScorePreview.Place_1
{
	margin-top: 0px;
}

#EG_TeamScore_Color
{
	width: 120px;
	height: 130px;
	padding: 10px;
	img-shadow: black 0 0 5px 2;
}

.EG_TeamLogoOverlay
{
	width: 100%;
	height: 100%;
	margin-bottom: -1px;
	opacity-mask: url("s2r://panorama/images/custom_game/team_icons_hr/team_logo_color_png.vtex");
	background-color: gradient( linear, 0% 100%, 0% 0%, from(rgba(0, 0, 0, 0.95)), color-stop(0.4, rgba(0, 0, 0, 0.45)), to(transparent) );
}

#EG_TeamScore_Logo
{
	width: 100px;
	height: 100px;
}

.EG_TopTeam_Content
{
	horizontal-align: center;
	margin-top: 80px;
}

#EG_TeamScore_Flag
{
	background-image: url("s2r://panorama/images/custom_game/end_game/team_flag_png.vtex");
	background-size: 100%;
	width: 90px;
	height: 150px;
	margin-top: 60px;
	horizontal-align: center;
}

.EG_TeamScore
{
	horizontal-align: center;
	font-family: titleFont;
	font-size: 43px;
	font-weight: semi-bold;
	text-align: center;
	margin-top: 118px;
	width: 90px;
	text-shadow: black 2px 1px 1px 3;
	color: #f4f5f5;
}

.EG_TeamScore,#EG_TeamScore_Flag
{
	opacity: 0;
	transform: translateY(-35px);
	transition-property: opacity, transform;
	transition-duration: 0.4s;
}

.ShowTopTeamScore .EG_TeamScore,.ShowTopTeamScore #EG_TeamScore_Flag
{
	opacity: 1;
	transform: translateY(0px);
}

.EG_TopTeamParticle
{
	width: 300px;
	height: 300px;
	opacity-mask: url("s2r://panorama/images/custom_game/end_game/badge_glow_opacity_mask_png.vtex");
	visibility: collapse;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0s;
}

.ShowTopTeamLabel .EG_TopTeamParticle
{
	opacity: 0.7;
}

.Place_1 .EG_TopTeamParticle
{
	visibility: visible;
}

.EG_TeamScore_LogoRoot
{
	horizontal-align: center;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0s;
}

.ShowTopTeamLabel .EG_TeamScore_LogoRoot
{
	opacity: 1;
}

.Place_1 .EG_TeamScore
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#f78e0c), color-stop(0.6, #f7c90c), to(#f78e0c));
}

#EG_Phase_2 > Panel
{
	align: center center;
	flow-children: right;
	margin-bottom: 80px;
}

.EG_StartPhase_2 #EG_Phase_2
{
	opacity: 1;
}

#EG_LocalMVPBadges .MVP_Badge
{
	margin-top: 10px;
	pre-transform-scale2d: 1.3;
	opacity: 0;
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.4s;
	transform: rotateY(180deg);
}

#EG_LocalMVPBadges .MVP_Badge.Show
{
	margin-top: 5px;
	pre-transform-scale2d: 1;
	opacity: 1;
}

.EG_LocalHero_Container
{
	min-height: 600px;
	min-width: 300px;
	border: 1px solid black;
	margin-left: 5px;
}

#EG_LocalHero_Model_Container,#EG_LocalHero_Model_Container DOTAScenePanel,.Hero_3DModel_Overlay
{
	width: 100%;
	height: 100%;
}

.EG_LocalHero_Level
{
	border: 1px solid wheat;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: 10px;
	box-shadow: rgba(19, 19, 19, 1) 0px 0px 5px 0px;
}

.EG_LocalHero_Level_Value
{
	align: center center;
	color: wheat;
	font-size: 20px;
}

.EG_LocalHero_Name
{
	text-transform: uppercase;
	padding: 4px 2px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 0.6)), color-stop(0.7, rgba(0, 0, 0, 0.6)), to(transparent) );
	margin: 14px 0 0 58px;
}

#EG_LocalHero_Effects
{
	vertical-align: bottom;
	width: 100%;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.9);
}

#EG_LocalHero_Effects > Panel
{
	align: center center;
	flow-children: right-wrap;
}

#EG_LocalHero_Effects #EG_Status_Moonshard
{
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.EG_Local_Agh_Container
{
	flow-children: down;
}

#EG_LocalHero_Effects #EG_Status_AghScepter
{
	height: 30px;
	width: 30px;
}

#EG_LocalHero_Effects #EG_Status_AghShard
{
	height: 15px;
	width: 30px;
}

#EG_LocalHero_Effects #EG_Status_Upgrades
{
	width: 45px;
	height: 45px;
	background-image: url("s2r://panorama/images/custom_game/orb_png.vtex");
	background-size: 100%;
	margin-left: 1px;
}

#EG_LocalStats
{
	flow-children: down;
	width: 450px;
}

.EG_Local_PlayerName_Container,.EG_Local_Kills_Header
{
	width: 100%;
	height: 50px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgb(11, 20, 38)), to(rgb(22, 40, 102)));
}

#EG_Local_PlayerName
{
	align: center center;
	font-size: 20px;
}

#EG_Local_PlayerName Label
{
	font-size: 31px;
}

.EG_LocalStats_Container
{
	flow-children: right;
	width: 100%;
	height: 41px;
	transform: translateY(-15px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
}

.EG_LocalStats_Container.Show
{
	transform: translateY(0px);
	opacity: 1;
}

.EG_LocalStats_Container.Header
{
	background-color: rgba(0, 0, 0, 0.6);
}

.EG_LocalStats_Container Label
{
	width: 50%;
	vertical-align: center;
	text-align: center;
	text-transform: uppercase;
	text-overflow: shrink;
	font-weight: lighter;
	color: #a7aba7;
}

.EG_LocalStats_Container.Header Label
{
	font-family: titleFont;
	margin-top: 3px;
}

.EG_LocalStats_Container.KDA_Container Label
{
	width: 33.333%;
}

.EG_LocalStats_Container:not(.Header) Label
{
	color: white;
}

.EG_LocalStats_Container.Gold_Container Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#d4b531), to(#ffdd05));
}

.Gold_Container:not(.Header) Label
{
	font-weight: semi-bold;
}

.EG_Local_Kills
{
	flow-children: down;
	height: 100%;
	margin-left: 10px;
}

.EG_Local_Kills .EG_KillEntity
{
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transform: translateY(-10px);
	opacity: 0;
}

.EG_Local_Kills .EG_KillEntity.Show
{
	transform: translateY(0px);
	opacity: 1;
}

.EG_Local_Kills_Header Label
{
	align: center center;
	color: white;
	font-size: 31px;
}

#EG_Local_TeamKills_Container
{
	min-width: 100px;
	height: 100%;
	flow-children: down;
	padding: 1px 5px 5px 5px;
}

.EG_Local_KilledTeam
{
	flow-children: right;
	margin-top: 6px;
}

#EG_Local_KilledTeam_List
{
	flow-children: right;
	vertical-align: bottom;
	margin-left: 4px;
}

.EG_Local_KilledTeam_LogoRoot
{
	width: 26px;
	height: 29px;
	vertical-align: top;
}

.EG_Local_KilledTeam_LogoRoot Image,.EG_TeamScore_LogoRoot Image,.EG_BTI_LogoContainer Image,.MVP_LogoContainer Image
{
	align: center center;
}

#EG_Local_KilledTeam_Logo,#EG_TeamScore_Logo,#EG_BTI_Logo,#MVP_Logo
{
	wash-color: black;
}

#EG_KillEntity_Icon
{
	width: 30px;
	height: 30px;
	margin: 0 5px 8px 0;
	saturation: 0;
	brightness: 0.8;
	transition-property: saturation, brightness;
	transition-duration: 0.3s;
}

.BHasKills #EG_KillEntity_Icon,#EG_KilledHeroes .BHasKills #EG_KillEntity_Icon
{
	saturation: 1;
	brightness: 1;
}

.EG_KillEntity_Count
{
	align: right bottom;
	border: 1px solid #8c908c;
	border-radius: 2px;
	padding: 0 2px;
	color: white;
	background-color: rgb(19, 17, 17);
	text-align: center;
	font-size: 13px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

#EG_KilledHeroes .EG_KillEntity
{
	vertical-align: center;
	width: 27px;
	margin-left: 2px;
}

#EG_KilledHeroes #EG_KillEntity_Icon
{
	margin: 0px;
	height: 26px;
	width: 26px;
	saturation: 1;
	brightness: 0.15;
}

#EG_KilledHeroes .EG_KillEntity_Count
{
	padding: 0 1px;
	font-size: 12px;
	align: right bottom;
}

#EG_KilledHeroes .EG_KillEntity_Count
{
	opacity: 1;
	brightness: 0.1;
}

.BHasKills .EG_KillEntity_Count,#EG_KilledHeroes .BHasKills .EG_KillEntity_Count
{
	opacity: 1;
	brightness: 1;
}

.MVP_Badge
{
	width: 140px;
	height: 150px;
}

.BadgeImageContainer
{
	width: 100%;
	height: 100%;
}

#BadgeImage
{
	width: 100px;
	height: 100px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: black;
	margin-top: 9px;
	align: center top;
}

.BadgeGlow
{
	align: center top;
	width: 100%;
	height: 80%;
	opacity-mask: url("s2r://panorama/images/custom_game/end_game/badge_glow_opacity_mask_png.vtex");
}

.BadgeName_Container
{
	align: center bottom;
	max-width: 100%;
	flow-children: right;
}

.BadgeName_Container Image
{
	height: 24px;
	width: 7px;
}

.BadgeName
{
	background-image: url("s2r://panorama/images/custom_game/end_game/badge_title_bg_png.vtex");
	background-size: 100%;
	padding: 3px 2px;
	margin-bottom: 25px;
	min-width: 60px;
	max-width: 112px;
	font-size: 14px;
	height: 24px;
	text-overflow: shrink;
	text-align: center;
	text-transform: uppercase;
	color: gradient(linear, 0% 110%, 0% 0%, from(#ceae55), to(#fff1d3));
	text-shadow: black 0 1px 4px 3;
}

.BadgeCounter
{
	align: center bottom;
	background-image: url("s2r://panorama/images/custom_game/end_game/badge_counter_bg_png.vtex");
	background-size: 100%;
	padding: 6px 8px 1px 8px;
	font-size: 18px;
	color: gradient(linear, 0% 110%, 0% 0%, from(#ababab), to(#ffffff));
	font-weight: semi-bold;
	text-align: center;
	min-width: 60px;
	margin-bottom: 4px;
	text-shadow: black 0 0 2px 2;
}

.upgrades_variety .BadgeCounter
{
	visibility: collapse;
}

.EG_StartPhase_3 #EG_Phase_3
{
	opacity: 1;
}

#EG_MVP_Heroes
{
	width: 100%;
	height: 100%;
}

.MVP_Hero
{
	width: 33.3333%;
	height: 65%;
	vertical-align: bottom;
	margin-bottom: 250px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.MVP_Hero.ShowRoot
{
	opacity: 1;
}

.MVP_Hero.Place_1
{
	horizontal-align: center;
}

.MVP_Hero.Place_3
{
	horizontal-align: right;
}

.MVP_Status_Wrap
{
	flow-children: right;
	horizontal-align: center;
	margin-left: 59px;
}

.Place_1 .MVP_Status_Wrap
{
	margin-left: 75px;
}

.MVP_Status
{
	align: center top;
	flow-children: down;
}

.MVP_Status_Value
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	height: 40px;
	padding-top: 10px;
}

.Place_1 .MVP_Status_Value
{
	font-size: 30px;
	padding-top: 0px;
	font-weight: bold;
}

#MVP_PlayerName
{
	horizontal-align: center;
	text-align: center;
}

.MVP_KDA
{
	horizontal-align: center;
	text-align: center;
}

.MVP_KDA_Kills
{
	color: white;
}

.MVP_LogoContainer
{
	margin-left: 15px;
}

#MVP_Logo_Color
{
	width: 45px;
	height: 64px;
	img-shadow: black 0 0 5px 2;
	padding-top: 14px;
}

.Place_1 #MVP_Logo_Color
{
	width: 59px;
	height: 68px;
	padding-top: 3px;
}

#MVP_Logo
{
	width: 42px;
	height: 42px;
	margin-top: 12px;
}

.Place_1 #MVP_Logo
{
	width: 60px;
	height: 60px;
	margin-top: 0px;
}

#MVP_Hero_Container
{
	width: 90%;
	height: 90%;
	align: center bottom;
}

.MVP_Hero_Model
{
	height: 80%;
	width: 80%;
	align: center bottom;
	transform: translateY(25%);
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.35s;
	opacity-mask: url("s2r://panorama/images/custom_game/end_game/mvp_hero_mask_png.vtex");
}

.EG_StartPhase_3 .ShowModel .MVP_Hero_Model
{
	opacity: 1;
	transform: translateY(0px);
}

.Place_1 .MVP_Hero_Model
{
	height: 100%;
	width: 100%;
}

.MVP_Rays
{
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity-mask: url("s2r://panorama/images/custom_game/end_game/badge_glow_opacity_mask_png.vtex");
}

#MVP_Hero_Badges
{
	flow-children: right;
	align: center bottom;
	z-index: 1;
	margin-bottom: 25px;
	transform: translateY(50px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
}

.EG_StartPhase_3 .ShowBadges #MVP_Hero_Badges
{
	opacity: 1;
	transform: translateY(0px);
}

#EG_Footer
{
	height: 265px;
	width: 100%;
	vertical-align: bottom;
	flow-children: down;
	transform: translateY(265px);
	transition-property: transform;
	transition-duration: 0.32s;
}

.EG_StartPhase_2.ShowFooter #EG_Footer,.EG_StartPhase_3.ShowFooter #EG_Footer
{
	transform: translateY(0px);
}

.EG_Footer_Header
{
	width: 100%;
	height: 80px;
	background-image: url("s2r://panorama/images/custom_game/end_game/exp_boost_line_png.vtex");
	background-size: 100%;
}

#BP_LevelIcon
{
	align: center center;
	margin: 15px 0 5px 0;
	width: 78px;
}

.EG_Footer_Content
{
	width: 100%;
	height: 100%;
	align: center bottom;
	background-color: black;
}

.EG_FullTable
{
	flow-children: down;
	margin-top: 50px;
	align: center center;
}

.EG_Table_Wrap
{
	flow-children: right;
}

#EG_TeamsAndPlayer
{
	flow-children: down;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#1e2020), to(#121a1f));
	padding: -7px 1px 8px 4px;
	margin-top: 37px;
	transform: translateX(-50px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
}

.EG_StartPhase_4 .ShowMainTeamInfo #EG_TeamsAndPlayer
{
	transform: translateX(0px);
	opacity: 1;
}

#EG_FullStatsRows_Wrap
{
	flow-children: down;
	overflow: scroll clip;
	padding-bottom: 8px;
}

#EG_FullStatsRows_Wrap HorizontalScrollBar
{
	height: 8px;
	box-shadow: transparent 0 0 0 0;
}

.EG_Header
{
	align: center bottom;
	text-align: center;
	font-size: 18px;
	color: #90999b;
	text-transform: uppercase;
	text-overflow: shrink;
	text-shadow: black 0px 1px 1px 2;
}

.BSort
{
	vertical-align: bottom;
}

.BSort:hover
{
	brightness: 1.5;
}

.BSort > Panel
{
	flow-children: right;
	horizontal-align: center;
	margin-left: 14px;
}

.SortIcon
{
	width: 12px;
	height: 12px;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/hud/reborn/sort_team_icon_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 0 5px 2px;
	wash-color: #aebabc;
	img-shadow: 0 0 3px 2 black;
}

.SortInc .EG_Header
{
	color: #008d09;
}

.SortInc .SortIcon
{
	wash-color: #008d09;
}

.SortDec .EG_Header
{
	color: #bf2422;
}

.SortDec .SortIcon
{
	wash-color: #bf2422;
}

.EG_StartPhase_4 #EG_Phase_4
{
	opacity: 1;
}

#EG_FullTable_Headers
{
	flow-children: right;
	background-color: #151515;
	height: 45px;
}

.EG_BasicTeamInfo
{
	flow-children: right;
	margin-top: 15px;
	box-shadow: hollow black 0 0 3px 0;
}

.EG_BTI_StatContainer
{
	flow-children: down;
	height: 100%;
}

.ot3_necropolis_ffa .EG_BTI_StatContainer
{
	flow-children: right;
}

.EG_BTI_LogoContainer
{
	width: 57px;
	height: 35px;
	padding: 4px 16px;
	background-color: #0f1113;
}

.ot3_gardens_duo .EG_BTI_LogoContainer
{
	width: 100%;
	padding: 4px 33px;
}

.EG_BTI_ScoreContainer
{
	height: 100%;
	width: 100%;
	margin-top: 1px;
	background-color: #0f1113;
}

.ot3_necropolis_ffa .EG_BTI_ScoreContainer
{
	margin-top: 0;
	width: fit-children;
}

.ot3_gardens_duo .EG_BTI_ScoreContainer
{
	width: fit-children;
	padding: 0 5px;
}

.ot3_gardens_duo .EG_BTI_ScoreContainer Panel
{
	flow-children: right;
}

.EG_BTI_ScoreContainer Panel
{
	flow-children: down;
	align: center center;
	padding-top: -15px;
}

.EG_BTI_ScoreContainer Label
{
	margin-top: 15px;
	align: center center;
	text-align: center;
	text-shadow: black 1px 0px 2px 3;
	color: #f4f5f5;
	letter-spacing: 1px;
	font-size: 30px;
	text-overflow: shrink;
	font-weight: semi-bold;
	background-image: url("s2r://panorama/images/custom_game/end_game/skull_png.vtex");
	background-size: 37px;
	background-repeat: no-repeat;
	background-img-opacity: 0.25;
	width: 37px;
	height: 37px;
	font-family: monospaceNumbersFont;
}

.ot3_gardens_duo .EG_BTI_ScoreContainer Label
{
	background-size: 34px;
	background-position: 50%;
}

.ot3_necropolis_ffa .EG_BTI_ScoreContainer Label
{
	visibility: collapse;
}

#EG_BTI_OrbsCount
{
	background-image: url("s2r://panorama/images/custom_game/map_orb_epic_png.vtex");
}

.ot3_gardens_duo #EG_BTI_OrbsCount
{
	margin-left: 7px;
}

.ot3_necropolis_ffa #EG_BTI_OrbsCount
{
	visibility: visible;
	margin-right: 7px;
}

.TeamPlace_1 .EG_BTI_ScoreContainer Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#f78e0c), color-stop(0.6, #f7c90c), to(#f78e0c));
}

#EG_BTI_PlayersContainer
{
	flow-children: down;
	padding-top: -1px;
}

.EG_PlayerStats_Basic
{
	flow-children: right;
	width: 300px;
	background-color: #0f1113;
	height: 35px;
	margin-top: 1px;
}

.EG_PlayerStats_Basic.BLocalPlayer
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#292e33), color-stop(0.4, #1d2023), color-stop(0.6, #1d2023), to(#292e33) );
}

.BLocalPlayer .EG_PSB_HeroName
{
	color: white;
}

#EG_HeroIcon
{
	border: 1px solid black;
	width: 57px;
	height: 33px;
	vertical-align: center;
}

#LocalHeroFlag
{
	height: 100%;
	width: 5px;
	background-color: #18a73a;
	border-right: 1px solid black;
	visibility: collapse;
}

.LocalPlayer #LocalHeroFlag
{
	visibility: visible;
}

.EG_PSB_NameAndHero
{
	height: 100%;
	margin: 1px 0 2px 4px;
	flow-children: down;
}

#EG_PSB_Name
{
	margin-top: -1px;
	max-width: 100%;
}

#EG_PSB_Name Label
{
	font-size: 14px;
}

.EG_PSB_HeroName
{
	color: #9aa19a;
	font-weight: lighter;
	font-size: 15px;
}

.EG_HeroLevel
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#dfc880), to(#ffd95d));
}

#EG_PSB_MVP_Icon
{
	width: 27px;
	height: 23px;
	align: right center;
	background-image: url("s2r://panorama/images/hud/player_mvp_crown_png.vtex");
	background-size: 100%;
	saturation: 1.1;
	margin-right: 3px;
	opacity: 0;
}

.MVP_State_1 #EG_PSB_MVP_Icon
{
	opacity: 1;
}

.MVP_State_2 #EG_PSB_MVP_Icon,.MVP_State_3 #EG_PSB_MVP_Icon
{
	opacity: 1;
	saturation: 0;
}

#Col_current_rating,#EG_RatingContainer
{
	width: 110px;
}

#Col_kills,#EG_KillsContainer,#Col_deaths,#EG_DeathsContainer,#Col_assists,#EG_AssistsContainer
{
	width: 50px;
}

#Col_networth,#EG_Networth
{
	width: 140px;
}

#Col_networth Label,#EG_Networth > Label
{
	color: #d4b531;
}

#Col_items,#EG_Items
{
	width: 302px;
}

#Col_status_effects,#StatusEffects
{
	width: 90px;
}

#Col_gpm,#EG_Gpm
{
	width: 90px;
}

#Col_xpm,#EG_Xpm
{
	width: 90px;
}

#Col_hero_damage,#EG_HeroDamage
{
	width: 180px;
}

#Col_damage_taken,#EG_DamageTaken
{
	width: 180px;
}

#Col_total_healing,#EG_Heal
{
	width: 180px;
}

#Col_capture_orbs_time,#EG_OrbsCaptureTime
{
	width: 150px;
}

#Col_total_stuns,#EG_Stuns
{
	width: 150px;
}

#Col_wards,#EG_Wards
{
	width: 100px;
}

.ot3_jungle_quintet #Col_killed_enemies
{
	width: 298px;
}

.ot3_desert_octet #Col_killed_enemies
{
	width: 472px;
}

.ot3_gardens_duo #Col_killed_enemies
{
	width: 240px;
}

.ot3_necropolis_ffa #Col_killed_enemies
{
	width: 211px;
}

#EG_FullStatsRows_Container
{
	flow-children: down;
	padding-top: -15px;
}

.EG_TeamFullRowsContainer
{
	flow-children: down;
	margin-top: 15px;
	padding-top: -1px;
}

.EG_PlayerStats_FullRow
{
	flow-children: right;
	height: 35px;
	margin-top: 1px;
	background-color: #101010;
}

.EG_PlayerStats_FullRow.BLocalPlayer
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#2c3232), color-stop(0.4, #4d5656), color-stop(0.6, #4d5656), to(#2c3232) );
}

.EG_StatContainer
{
	height: 100%;
}

.EG_StatContainer Label:not(.EG_KillEntity_Count)
{
	align: center center;
	text-align: center;
	text-overflow: shrink;
	height: 24px;
	font-size: 20px;
	font-weight: lighter;
	text-shadow: black 0 0 3px 2;
}

.BLocalPlayer .EG_StatContainer Label:not(.EG_KillEntity_Count)
{
	font-weight: semi-bold;
	color: white;
}

#EG_RatingContainer Label
{
	font-size: 18px;
	height: 21px;
	text-shadow: black 0 0px 0 2;
}

.MmrInc #EG_RatingContainer Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#00a600), to(#00ff00));
}

.ot3_jungle_quintet .TeamPlace_2 #RatingChanges.MmrInc,.ot3_desert_octet .TeamPlace_2 #RatingChanges.MmrInc,.ot3_gardens_duo .TeamPlace_3 #RatingChanges.MmrInc,.ot3_necropolis_ffa .TeamPlace_4 #RatingChanges.MmrInc,.ot3_necropolis_ffa .TeamPlace_5 #RatingChanges.MmrInc
{
	color: #68c461;
}

.MmrDec #EG_RatingContainer Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#c6150f), to(#e04136));
}

.ot3_jungle_quintet .TeamPlace_2 #RatingChanges.MmrDec,.ot3_desert_octet .TeamPlace_3 #RatingChanges.MmrDec,.ot3_gardens_duo .TeamPlace_3 #RatingChanges.MmrDec,.ot3_necropolis_ffa .TeamPlace_4 #RatingChanges.MmrDec,.ot3_necropolis_ffa .TeamPlace_5 #RatingChanges.MmrDec
{
	color: #ee685f;
}

#EG_Items
{
	flow-children: right;
	padding: 0px 1px;
}

.EG_Item
{
	width: 42px;
	height: 30px;
	margin: 1px;
	vertical-align: center;
	border: 1px solid #2c2c2c;
}

.EG_NeuralItem
{
	width: 30px;
	border-radius: 100%;
	margin-left: 3px;
}

#StatusEffects > Panel
{
	align: center center;
}

.EG_AghScepterShardContainer
{
	vertical-align: center;
	flow-children: down;
}

#EG_Status_AghScepter
{
	width: 21px;
	height: 23px;
	margin-left: 1px;
}

#EG_Status_AghShard
{
	width: 23px;
	height: 13px;
	vertical-align: bottom;
	margin-right: -1px;
}

#EG_Status_Moonshard
{
	width: 26px;
	height: 26px;
	margin: 1px 1px 1px 25px;
	vertical-align: center;
	border-radius: 100%;
	border: 1px solid black;
	box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.8);
	saturation: 0;
	brightness: 0.7;
}

#EG_Status_Moonshard.BActive
{
	saturation: 1;
	brightness: 1;
}

#EG_Status_Upgrades
{
	width: 32px;
	height: 32px;
	margin: 1px 1px 1px 51px;
	vertical-align: center;
	border-radius: 100%;
	transition: saturation 0.1s linear 0s;
	saturation: 0.7;
}

#EG_Status_Upgrades:hover
{
	saturation: 1;
}

#EG_KilledHeroes
{
	flow-children: right;
	padding: 0px 5px 0 3px;
}

#EG_TopButtons
{
	margin-top: 20px;
	opacity: 0;
	transform: translateY(-40px);
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	width: 100%;
}

#EG_TopButtons > Panel
{
	flow-children: right;
	padding-left: -40px;
	horizontal-align: center;
}

.ShowTopButtons #EG_TopButtons
{
	opacity: 1;
	transform: translateY(0px);
}

.EG_TopButton
{
	margin-left: 40px;
	padding: 8px 30px 7px 30px;
	background-image: url("s2r://panorama/images/custom_game/end_game/eg_button_bg_png.vtex");
	background-size: 100%;
	transition-property: brightness, background-image, box-shadow;
	transition-duration: 0.2s;
	box-shadow: rgba(130, 205, 195, 0.8) 0 0 0px 0;
}

.ShowTopButtons.EG_StartPhase_2 .EG_TopButton_MyScore,.ShowTopButtons.EG_StartPhase_3 .EG_TopButton_MVP,.ShowTopButtons.EG_StartPhase_4 .EG_TopButton_FullScore
{
	background-image: url("s2r://panorama/images/custom_game/end_game/eg_button_bg_active_png.vtex");
	box-shadow: rgba(130, 205, 195, 0.8) 0 0 4px 0;
}

.EG_TopButton_Collection
{
	background-image: url("s2r://panorama/images/custom_game/end_game/eg_button_bg3_png.vtex");
	animation-name: collection_button;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.EG_CloseButton
{
	horizontal-align: right;
	margin-right: 20px;
	background-image: url("s2r://panorama/images/custom_game/end_game/eg_button_close_png.vtex");
	box-shadow: rgba(223, 51, 51, 0.8) 0 0 4px 0;
}

@keyframes 'collection_button'
{
	0%
	{
		box-shadow: #b69300 0px 0px 3px 0px;
	}
	
	50%
	{
		box-shadow: #fecd00 0px 0px 10px 0px;
	}
	
	100%
	{
		box-shadow: #b69300 0px 0px 3px 0px;
	}
	
}

.EG_TopButton:hover,.EG_FeedbackButton:hover,.EG_CircleButton:hover,#EG_MSE_CloseButton:hover
{
	brightness: 1.5;
}

.EG_TopButton:active,.EG_FeedbackButton:active,.EG_CircleButton:active,#EG_MSE_CloseButton:active
{
	brightness: 0.8;
	sound: "General.ButtonClick";
}

.EG_TopButton Label
{
	align: center center;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #f6f6f6;
	text-shadow: black 0px 0px 3px 2;
}

.ShowTopButtons.EG_StartPhase_2 .EG_TopButton_MyScore Label,.ShowTopButtons.EG_StartPhase_3 .EG_TopButton_MVP Label,.ShowTopButtons.EG_StartPhase_4 .EG_TopButton_FullScore Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#d5ffff), to(#ffffff));
	text-shadow: 0 0 3px 1 #82cdc3;
}

.EG_TopButton_Collection Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#ffecb2), to(#ffffff));
	text-shadow: 0 0 3px 4 black;
}

#EG_LocalMVPBadges,.EG_LocalHero_Container,#EG_LocalStats,.EG_Local_Kills
{
	transform: translateY(100%);
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
}

#EG_LocalMVPBadges
{
	flow-children: down-wrap;
	max-height: 500px;
	transform: translateY(100%) rotateY(180deg);
}

.EG_StartPhase_2 #EG_LocalMVPBadges
{
	transform: rotateY(180deg) translateY(0px);
	opacity: 1;
}

.EG_StartPhase_2 .EG_ShowLocalHero .EG_LocalHero_Container
{
	transform: translateY(0px);
	opacity: 1;
}

.EG_StartPhase_2 .EG_ShowLocalStats #EG_LocalStats
{
	transform: translateY(0px);
	opacity: 1;
}

.EG_StartPhase_2 .EG_ShowLocalKills .EG_Local_Kills
{
	transform: translateY(0px);
	opacity: 1;
}

#MVP_Rewards
{
	flow-children: right-wrap;
	padding-left: -10px;
	max-width: 95%;
	horizontal-align: center;
	margin-top: 20px;
	z-index: 1;
	transform: translateY(-50px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
}

.EG_StartPhase_3 .ShowRewards #MVP_Rewards
{
	opacity: 1;
	transform: translateY(0px);
}

.MVP_Reward
{
	flow-children: down;
	width: 80px;
	margin-left: 10px;
}

.MVP_Reward.TREASURES
{
	width: 123px;
}

.MVP_Reward_Border
{
	width: 100%;
	height: width-percentage(100%);
	padding: 2px;
	box-shadow: black 0 0 3px 1;
}

.MVP_Reward.TREASURES .MVP_Reward_Border
{
	height: 80px;
}

#MVP_Reward_Icon
{
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#23242b), to(#1a1b1f));
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.Reward_currency #MVP_Reward_Icon
{
	background-size: 60px;
	background-image: url("s2r://panorama/images/custom_game/collection/currency_icon_240_png.vtex");
}

.MVP_Reward_Amount
{
	text-align: center;
	font-size: 17px;
	font-weight: lighter;
	background-color: gradient( linear, 0% 0%, 100% 0%, from(transparent), color-stop(0.5, rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.96)) );
	padding: 0 5px 0 10px;
	min-width: 35px;
	text-align: right;
	align: right bottom;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 3px 2;
	color: #bccee2;
}

.MVP_Reward_Name
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 6px 3px 4px 3px;
	text-transform: uppercase;
	font-size: 13px;
	color: #ebebeb;
	text-shadow: black 0px 1px 3px 2;
	text-overflow: clip;
}

.Reward_currency .MVP_Reward_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#f58907), to(#f9d64b));
}

.EG_CircleButton
{
	height: 40px;
	flow-children: right;
	margin-left: 25px;
}

.EG_CircleButton Image
{
	height: 100%;
	width: height-percentage(100%);
	img-shadow: black 0 0 5px 3;
}

.EG_CircleButton Label
{
	vertical-align: center;
	background-color: #5865f2;
	margin-left: -10px;
	z-index: -1;
	padding: 2px 9px 2px 16px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	box-shadow: black 0 0 5px 3;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3;
}

.EG_FeedbackButton
{
	margin-top: 45px;
}

.EG_FeedbackButton Image
{
	background-color: gradient(linear, 0% 100%, 0% 0%, from(rgb(43, 57, 68)), to(rgb(63, 94, 109)));
	padding: 4px 5px 4px 4px;
	border-radius: 50%;
	opacity-mask: url("s2r://panorama/images/custom_game/circle_mask_png.vtex");
	border: 2px solid #54819a;
}

.EG_FeedbackButton Label
{
	background-color: gradient(linear, 0% 100%, 0% 0%, from(rgb(43, 57, 68)), to(rgb(63, 94, 109)));
}

#EG_Challenge_Root
{
	align: center center;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(rgba(0, 0, 0, 0.15)), to(#423626));
	border-top: 4px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from(#37210e), color-stop(0.25, #6e4c23), color-stop(0.4, #cfa760), color-stop(0.6, #cfa760), color-stop(0.75, #6e4c23), to(#37210e) );
	min-width: 600px;
	opacity: 0;
	transform: translateY(-46px);
	transition-property: opacity, transform;
	transition-duration: 0.4s;
}

#EG_Challenge_Root.ShowChallengeInit
{
	opacity: 1;
	transform: translateY(0px);
}

.EG_C_Wrap
{
	flow-children: right;
	margin: 15px 30px;
	align: center center;
}

.EG_C_IconsContainer
{
	flow-children: down;
}

.EG_C_Icon
{
	width: 34px;
	height: 33px;
	background-image: url("s2r://panorama/images/custom_game/hero_challenges_icon_png.vtex");
	background-size: 33px;
	background-position: 50%;
	background-repeat: no-repeat;
}

.EG_C_DiffIcon
{
	width: 34px;
	height: 25px;
	background-image: url("s2r://panorama/images/custom_game/hero_challenges_diff_1_png.vtex");
	background-size: 100%;
	margin-top: 8px;
}

.EG_C_Content
{
	flow-children: down;
	margin-left: 4px;
}

.EG_C_Header
{
	vertical-align: center;
	font-size: 24px;
	font-weight: lighter;
	color: rgb(246, 246, 246);
	text-shadow: black 0 1px 1px 2;
	height: 22px;
	text-overflow: clip;
	margin-top: 2px;
}

.EG_C_Details
{
	flow-children: right;
	margin: 17px 10px 0 0;
	height: 25px;
}

.EG_C_Description
{
	vertical-align: center;
	font-weight: lighter;
	color: gradient(linear, 0% 100%, 0% 0%, from(#ffd168), to(#ffea91));
	text-shadow: black 0 1px 2px 1;
	text-overflow: clip;
}

#EG_C_RewardsContainer
{
	flow-children: right;
}

#EG_C_RewardsContainer .MVP_Reward
{
	transition-property: width;
	transition-duration: 0.15s;
}

#EG_C_RewardsContainer .MVP_Reward:not(.Show)
{
	width: -10px;
}

.EG_C_Overlay
{
	width: 100%;
	height: 100%;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(rgb(19, 2, 1)), to(rgba(0, 0, 0, 0.76)));
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.ShowChallengeStateBG .EG_C_Overlay
{
	opacity: 1;
}

.EG_C_StateText
{
	align: center center;
	text-align: center;
	text-transform: uppercase;
	color: gradient(linear, 0% 100%, 0% 0%, from(#ff1815), to(#ff7770));
	text-shadow: black 0 0 10px 5;
	font-size: 50px;
	opacity: 0;
	pre-transform-scale2d: 1.2;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.3s;
}

.ShowChallengeStateText .EG_C_StateText
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

.BChallengeCompleted .EG_C_Overlay
{
	background-color: rgba(0, 0, 0, 0.76);
}

.BChallengeCompleted .EG_C_StateText
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#ffd168), to(#ffea91));
}

#EG_C_Particle_Completed
{
	height: 100%;
	width: 100%;
	overflow: clip;
	align: center center;
	opacity-mask: url("s2r://panorama/images/custom_game/end_game/badge_glow_opacity_mask_png.vtex");
}

#EG_MatchServerErrors_Indicator
{
	width: 100%;
	height: 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from(#821a1a), color-stop(0.3, #df3333), color-stop(0.7, #df3333), to(#821a1a) );
	opacity: 0;
	transition: opacity 0.15s ease-in-out 0s;
}

.BShowServerErrors_Indicator #EG_MatchServerErrors_Indicator
{
	opacity: 1;
}

#EG_MatchServerErrors
{
	flow-children: down;
	horizontal-align: right;
	background-color: #0a0a0a;
	margin-top: 93px;
	margin-right: 19px;
	width: 420px;
	box-shadow: hollow rgba(223, 51, 51, 0.8) 0 0 0 0;
	border: 2px solid white;
	border-brush: gradient( radial, 50% 100%, 0% 0%, 50% 50%, from(#ff3f3f), color-stop(0.3, #b42828), color-stop(0.8, #3d4445), to(#327170) );
	transform: translateX(50px);
	opacity: 0;
	transition-property: transform, opacity, box-shadow;
	transition-duration: 0.15s;
}

.BShowServerErrors #EG_MatchServerErrors
{
	transform: translateX(0px);
	opacity: 1;
	box-shadow: hollow rgba(223, 51, 51, 0.8) 0 0 4px 0;
}

#EG_MSE_Header
{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #171426;
	font-size: 25px;
	color: gradient(linear, 0% 100%, 0% 0%, from(#a6a4a2), to(#fbf9f7));
	font-weight: lighter;
	text-shadow: black 0 1px 1px 2;
	margin: 0 12px;
}

#EG_MSE_CloseButton
{
	padding: 8px 30px 7px 30px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/custom_game/end_game/eg_button_bg_png.vtex");
	background-size: 100%;
	margin-bottom: 10px;
}

#EG_MSE_CloseButton Label
{
	align: center center;
	text-align: center;
	text-transform: uppercase;
	color: #f6f6f6;
	text-shadow: black 0px 0px 3px 2;
}

#EG_MSE_Container
{
	flow-children: down;
	width: 100%;
	padding: 10px 15px 15px 15px;
}

#EG_MSE_Container Label
{
	color: #fafafa;
	margin-top: 5px;
}

#EG_ChatContainer
{
	width: 600px;
	horizontal-align: right;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#030609), to(#080b16));
	vertical-align: center;
	margin-right: 10px;
}

#EG_ChatContainer .ChatLine
{
	opacity: 1;
}

