/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.LB_CustomItem_Tooltip
{
	background-color: #131627;
	flow-children: right;
	border: 2px solid #171717;
}

#Contents
{
	background-color: #131627;
	padding: 8px 8px 8px 0;
}

.LB_CustomItem_Tooltip .CI_Background
{
	width: 110px;
	height: 110px;
}

.CI_Item
{
	flow-children: down;
	margin-left: 8px;
}

.CI_Item.TREASURES .CI_Background
{
	width: 165px;
}

.CI_Name_LB_Container
{
	width: 100%;
	margin-top: -5px;
	z-index: -1;
	min-height: 53px;
	background-color: rgba(0, 0, 0, 0.8);
}

.CI_Name
{
	padding: 8px 3px 3px 3px;
	vertical-align: center;
	width: 100%;
	text-align: center;
}

.CI_Item_Count
{
	font-size: 18px;
}

