/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#SmartRandomButton
{
	vertical-align: bottom;
	horizontal-align: right;
	width: 93px;
	margin-bottom: 70px;
	background-color: #3a8d42;
	border-top: 4px solid #44e153;
	brightness: 0.9;
}

#SmartRandomButton:not(.IsError):hover
{
	saturation: 1.4;
	brightness: 1.3;
}

#SmartRandomButton:not(.IsError):active
{
	saturation: 1.3;
	brightness: 1.1;
}

#SmartRandomButton.IsError
{
	saturation: 0.4;
	brightness: 0.2;
}

#PreGame:not(.DOTA_GAMERULES_STATE_HERO_SELECTION) #SmartRandomButton,.IsInBanPhase #SmartRandomButton
{
	visibility: collapse;
}

#SmartRandomButton Label
{
	color: white;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.HasSelectedHero #SmartRandomButton
{
	visibility: collapse;
}

