/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.Party_1
{
	color: #00e4dc;
}

.EG_Root .Party_1
{
	wash-color: #00e4dc;
}

.Party_2
{
	color: #a4eb76;
}

.EG_Root .Party_2
{
	wash-color: #a4eb76;
}

.Party_3
{
	color: #1aff00;
}

.EG_Root .Party_3
{
	wash-color: #1aff00;
}

.Party_4
{
	color: #ff5400;
}

.EG_Root .Party_4
{
	wash-color: #ff5400;
}

.Party_5
{
	color: #0095eb;
}

.EG_Root .Party_5
{
	wash-color: #0095eb;
}

.Party_6
{
	color: #d187d3;
}

.EG_Root .Party_6
{
	wash-color: #d187d3;
}

.Party_7
{
	color: #a1d0ff;
}

.EG_Root .Party_7
{
	wash-color: #a1d0ff;
}

.Party_8
{
	color: #ff7f7d;
}

.EG_Root .Party_8
{
	wash-color: #ff7f7d;
}

.Party_9
{
	color: #bf00ff;
}

.EG_Root .Party_9
{
	wash-color: #bf00ff;
}

.Party_10
{
	color: #ffbf7c;
}

.EG_Root .Party_10
{
	wash-color: #ffbf7c;
}

.Party_11
{
	color: #a8a752;
}

.EG_Root .Party_11
{
	wash-color: #a8a752;
}

.Party_12
{
	color: #088a68;
}

.EG_Root .Party_12
{
	wash-color: #088a68;
}

.NoParty
{
	color: #d4d4d4;
}

