/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define BorderColor: #171717;
.CustomItem_Tooltip
{
	background-color: #131627;
	flow-children: down;
	border: 2px solid BorderColor;
}

#CI_Description,#CI_Name
{
	width: 270px;
}

#Contents
{
	background-color: #131627;
}

.CI_HeaderInfo
{
	flow-children: down;
	width: 100%;
	background-image: url("s2r://panorama/images/custom_game/backgrounds/cross_texture_png.vtex");
	background-img-opacity: 0.055;
	background-size: 100%;
}

#CI_Name
{
	width: 100%;
	font-size: 20px;
	text-overflow: shrink;
	padding: 10px 9px 7px 9px;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: semi-bold;
	text-shadow: black 0px 2px 2px 2px;
}

.CustomItem_Tooltip Label
{
	color: #dce5ff;
}

#CI_RarityOverlay
{
	width: 100%;
	height: 6px;
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

#CI_MainInfo
{
	flow-children: down;
	padding: 3px 10px;
	width: 100%;
}

#CI_MainInfo > Label,#CI_SourceName_Root > Label
{
	font-size: 17px;
	text-shadow: black 0px 2px 2px 2px;
}

.CI_Separator
{
	width: 100%;
	height: 1px;
	background-color: #2d3239;
}

#CI_Description
{
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	font-style: italic;
	font-weight: lighter;
	color: #9d9d9b;
	text-shadow: black 0px 2px 2px 2px;
}

#Contents
{
	padding: 0px;
}

#CI_SourceName_Root
{
	width: 100%;
	visibility: collapse;
}

.BHasSource #CI_SourceName_Root
{
	visibility: visible;
}

#CI_SourceName_Line
{
	width: 100%;
	height: 1px;
	background-color: #dce5ff;
	vertical-align: center;
	margin: 6px 5px 0px 15px;
}

#CI_SourceName
{
	margin-top: 5px;
	margin-left: 10px;
	font-size: 17px;
	background-color: #131627;
	padding-right: 5px;
}

#CI_SourceValue
{
	width: 100%;
	text-align: center;
	padding: 6px 5px 5px 5px;
	font-family: Goudy Trajan;
	color: #cfcfcf;
	text-transform: uppercase;
	box-shadow: inset rgba(0, 0, 0, 0.6) 0px 0px 9px -2px;
	text-shadow: black 0px 2px 2px 2px;
	font-size: 25px;
	visibility: collapse;
}

.BHasSource #CI_SourceValue
{
	visibility: visible;
}

.subscription_tier.SubTier_1 #CI_SourceValue
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#4680ad), to(#c4d2ad));
	box-shadow: inset rgba(70, 127, 171, 0.55) 0px 0px 4px -1px;
}

.subscription_tier.SubTier_2 #CI_SourceValue
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#df9724), to(#fee1b8));
	box-shadow: inset rgba(252, 224, 184, 0.4) 0px 0px 4px -1px;
}

.currency #CI_SourceValue
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#f58907), to(#f9d64b));
	box-shadow: inset rgba(245, 200, 86, 0.4) 0px 0px 4px -1px;
}

#CI_SourceBorder
{
	width: 120px;
	height: 120px;
	padding: 2px;
	horizontal-align: center;
	margin: 10px 0;
	visibility: collapse;
}

.BHasSource #CI_SourceBorder
{
	visibility: visible;
}

.CustomItem_Tooltip:not(.treasure) #CI_SourceBorder
{
	background-color: transparent;
}

.treasure #CI_SourceBorder
{
	width: 200px;
}

#CI_SourceImage
{
	width: 100%;
	height: 100%;
	align: center center;
}

#CI_Items_List
{
	flow-children: down;
	horizontal-align: center;
	margin: 4px 10px;
	visibility: collapse;
}

#CI_Items_List > Panel
{
	flow-children: right;
	padding-left: -5px;
	horizontal-align: center;
}

.CI_Separator_Bundle
{
	visibility: collapse;
}

.BBundle #CI_Items_List,.BBundle .CI_Separator_Bundle
{
	visibility: visible;
}

.CI_Item
{
	margin-left: 5px;
}

.CI_Item .CI_Background
{
	width: 70px;
	height: 70px;
	padding: 2px;
	border-radius: 5px;
}

.CI_Item.TREASURES .CI_Background
{
	width: 105px;
}

#CI_Item_Image
{
	border-radius: 4px;
	width: 100%;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#21232b), to(#30323e));
}

.CI_Item_Count
{
	text-align: center;
	font-size: 17px;
	font-weight: lighter;
	background-color: gradient( linear, 0% 0%, 100% 0%, from(transparent), color-stop(0.5, rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.96)) );
	padding: 0 5px 0 10px;
	min-width: 35px;
	text-align: right;
	align: right bottom;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 3px 2;
	color: #bccee2;
	visibility: collapse;
}

.BManyItems .CI_Item_Count
{
	visibility: visible;
}

#BundleItem_currency #CI_Item_Image
{
	background-image: url("s2r://panorama/images/custom_game/collection/currency_icon_png.vtex");
	background-size: 51px;
	background-repeat: no-repeat;
	background-position: 50%;
}

