/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.collection_precache
{
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_3_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_4_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_5_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_1_v2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_2_v2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_3_v2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_4_v2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_5_v2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/currency_bundle_6_v2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_shop/daily_fortune_png.vtex");
}

