/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#CustomPrecache
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/custom_game/ability_selection/button_bg_close_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/button_bg_reroll_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/button_bg_supporter_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/innate_opacity_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/panel_bg_clean_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/bar_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/button_bg_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/button_bg_orange_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/custom_pings_map_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/eg_button_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/team_logo_color_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/game_info/coins_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/game_info/items_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/game_info/throne_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/goal_logo_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ability_bevel_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ability_bg_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/arrow_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/arrow_solid_left_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/arrow_solid_right_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/background_play_button_2x_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/bg_timer_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/buff_outline_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/button_audio_off_psd_custom_not_dota_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/button_audio_on_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/buyback_topbar_alive_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/check_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/circle_bg2_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/circle_bg_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/circle_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/circle_pointer_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/cursor_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/deathtimer_background_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/emptyitembg_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/empty_slot_avatar_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/friend_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/glow_day_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/glow_night_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/gold_small_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_disconnect_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_gold_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_inspect_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_moon_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_scoreboard_mute_sound_on_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_scoreboard_mute_sound_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_search_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_star_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_sun_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/icon_x_red_off_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/information_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/item_purchase_bg_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/lock_small_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/passive_ability_border_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/passive_ability_border_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_danger_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_icon_attack_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_icon_default_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_icon_enemyward_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_icon_friendlyward_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_icon_retreat_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ping_icon_waypoint_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/quickbuy_bg_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/red_large_off_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/refresh_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/shop_launcher_button_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ti8_front_bar_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/tiny_coach_dashboard_background_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/tooltip_arrow_left_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/tooltip_arrow_right_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/topbar_buyback_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/topbar_health_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/topbar_heroslant_left_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/topbar_heroslant_right_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/topbar_mana_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/topbar_playerslot_vignette_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/top_bar_buyback_bg_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/top_bar_team_bg_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ulti_achieved_blue_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ulti_achieved_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ulti_base_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ulti_buildup_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ult_cooldown_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ult_no_mana_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/ult_ready_psd_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/import_dota/x_close_png_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/inventory_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboard_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/background_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/bp_level_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/dawnbreaker_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/discord_button_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_beastmaster_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_beastmaster_pets_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_bg_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_bg_core_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_coins_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_juggernaut_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/loading_seq_luna_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/luna_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/orb_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/patchnotes_background_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/patreon_button_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/patreon_particles_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/patreon_plus_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/patreon_text_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/players_load_background_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/players_load_background_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/primal_beast_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/quest_header_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/quest_header_dark_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loading_screen/team_shield_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/loadout_perks/promo_banner_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/maps/ot3_desert_octet_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/maps/ot3_gardens_duo_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/maps/ot3_jungle_quintet_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/minimap_overlay_black_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/minimap_side_container_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/no_user_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/orb_png.vtex");
	background-image: url("file://{resources}/images/custom_game/overthrow_background_01.png");
	background-image: url("s2r://panorama/images/custom_game/overthrow_victory_trophy_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/patreon/alipay_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/patreon/new_methods_announcement_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/patreon/small_button_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/patreon/voicon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/patreon/wechat_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ping_icon_waypoint_minimap_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ping_icon_world_minimap_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/pointer_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/scoreboard/scoreboard_texture_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/scoreboard/texture-g72264732c_1920_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/supp_plus_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_boar_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_dog_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_dragon_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_horse_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_monkey_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_ox_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_rabbit_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_ram_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_rat_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_rooster_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_snake_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_icon_tiger_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_shield_border_01_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_shield_color_01_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons/team_shield_shadow_01_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/bullet_active_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/bullet_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_body_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_button_shuffle_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_button_start_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_header_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_header_bg_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_header_bg_loading_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_hint_arrow_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_hint_arrow_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_hint_arrow_bg_right_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_hint_arrow_right_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_hint_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_hint_text_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_loading_solid_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_logo_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_player_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_player_bg_empty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_player_bg_local_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_selection/ts_texture_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/bar_button_vote_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/goal_logo_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/goal_logo_dark_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/team_bg_filler_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/top_bar_score_bg_left_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/top_bar_score_bg_left_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/top_bar_score_bg_right_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/top_bar_score_bg_right_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/top_bar_score_center_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/top_bar/top_bar_score_center_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/tuant_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/all_attributes_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/all_attributes_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/armor_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/attack_range_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/attack_speed_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/auto_rune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/base_attack_time_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/cast_range_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/common_stat_boost_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/damage_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/damage_shield_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/evasion_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/extra_common_choice_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/gpm_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/health_percentage_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/health_regen_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/heal_amp_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/item_cdr_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/lifesteal_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/magic_resistance_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/mana_regen_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/movement_speed_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/neutral_item_stats_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/primary_attribute_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/primary_attribute_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/rare_stat_boost_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/secondary_attributes_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/secondary_attributes_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/spell_amp_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/spell_lifesteal_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/status_resistance_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/manaburn_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/magic_attack_damage_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/vision_radius_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/health_and_mana_on_kill_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/base_attack_damage_pct_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/armor_shred_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/cleave_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/attack_projectile_speed_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/burning_aura_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/critical_strike_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/flying_movement_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/primary_attribute_increase_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/secondary_attribute_increase_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/physical_shield_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/magical_shield_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/universal_shield_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/universal_lifesteal_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/generics/magic_resistance_reduction_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/patreon_link_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/kill_limit_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/mail_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/mail_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/event_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/event_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/announce_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/announce_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/mail_reward_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/mail/mail_reward_bg_obtained_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/cosmetic_abilities/default_cosmetic_ability_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/cosmetic_abilities/spray_empty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/cosmetic_abilities/spray_no_empty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/products/subscription_tier_1_jpg.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/products/subscription_tier_2_jpg.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/payment_alipay_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/payment_card_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/payment_patreon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/payment_wechat_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payments/payment_xsolla_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glow_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/fortune_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/plus_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/plus_currency_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/tab_icon_battle_pass_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/tab_icon_cosmetics_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/tab_icon_gift_codes_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/tab_icon_masteries_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/tab_icon_subscription_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/tab_icon_profile_png.vtex");
	background-image: url("s2r://panorama/layout/custom_game/voting_to_kick/reason_feeding_png.vtex");
	background-image: url("s2r://panorama/layout/custom_game/voting_to_kick/reason_ability_abuse_png.vtex");
	background-image: url("s2r://panorama/layout/custom_game/voting_to_kick/reason_hateful_talk_png.vtex");
	background-image: url("s2r://panorama/layout/custom_game/voting_to_kick/reason_afk_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badge_glow_opacity_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/ally_healing_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/damage_dealt_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/damage_taken_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/kills_and_assists_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/orbs_captured_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/stun_duration_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/upgrades_variety_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/wards_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/kills_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/assists_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/least_deaths_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/units_summoned_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/badges/none_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_logo_color_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_boar_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_dog_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_dragon_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_horse_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_monkey_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_ox_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_rabbit_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_ram_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_rat_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_rooster_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_snake_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/team_icons_hr/team_icon_tiger_01_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/end_game/mvp_hero_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/orb_common_mini_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/orb_rare_mini_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/orb_epic_mini_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/chat_separator_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/gg_token_mini_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/upgrades/double_arrow_png.vtex");
}

