/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.UpsellBodyStyle
{
	width: 100%;
	height: 100%;
	border-top: 3px solid rgb(17, 22, 36);
	background-image: url("s2r://panorama/images/backgrounds/dashboard_vignette_png.vtex"), url("s2r://panorama/images/custom_game/loadout_perks/promo_banner_png.vtex");
	background-size: 100%;
}

.Overlay
{
	width: 100%;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.95)));
}

.MainSubContent
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.SubContent
{
	width: 280px;
	flow-children: down;
	padding: 10px;
	margin-top: 15px;
}

.Title
{
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px 2 rgba(0, 0, 0, 0.6);
	width: 100%;
	padding: 5px;
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bg_1_png.vtex");
	background-size: 100%;
	text-align: center;
	img-shadow: black 0px 0px 5px 1;
}

.Language_russian .Title
{
	font-size: 18px;
}

.Sub_1 .Title
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#4680ad), to(#c4d2ad));
}

.Sub_2 .Title
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#df9724), to(#fee1b8));
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bg_2_png.vtex");
}

.SubLinesContent
{
	background-color: rgba(0, 0, 0, 0.95);
	box-shadow: hollow black 0 0 2px 2;
	margin-top: -5px;
	padding: 6px 4px 8px 4px;
	z-index: -1;
	flow-children: down;
}

.SubLinesContent Label
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	color: #9fa6bd;
	margin-top: 2px;
	text-shadow: black 0px 0px 3px 2;
	font-size: 16px;
}

.Language_russian .SubLinesContent Label
{
	font-size: 14px;
	margin-top: 4px;
}

.Language_russian .SubLinesContent .Content_ability_choice
{
	padding: 0 10px;
}

.SubLinesContent .Content_currency
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#e88b16), to(#f9c459));
	padding-right: 25px;
	background-image: url("s2r://panorama/images/custom_game/collection/currency_icon_small_png.vtex");
	background-size: 17px;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.SubLinesContent .Content_consumable_rerolls
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#b96d0b), to(#edd835));
	padding-right: 25px;
	background-image: url("s2r://panorama/images/custom_game/random_mini_png.vtex");
	background-size: 17px;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.SubLinesContent .Content_legendary_lagresses
{
	color: #4cd2e4;
	padding-right: 25px;
	background-image: url("s2r://panorama/images/custom_game/orb_rare_mini_png.vtex");
	background-size: 17px;
	background-position: 100% 0;
	background-repeat: no-repeat;
	font-size: 14px;
}

.SubLinesContent .Content_breathtaking_benefactions
{
	color: #f630d3;
	padding-right: 25px;
	background-image: url("s2r://panorama/images/custom_game/orb_epic_mini_png.vtex");
	background-size: 17px;
	background-position: 100% 0;
	background-repeat: no-repeat;
	font-size: 14px;
}

