/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.TooltipExtenderBlock
{
	width: 100%;
	background-color: #293c53;
	background-color: gradient( linear, 0% 0%, 5% 20%, from(#364d5c), color-stop(0.8, #364d5c), color-stop(0.8, #293c53), to(#293c53) );
	margin: 0 8px 9px 3px;
	flow-children: down;
	padding: 4px 7px;
	width: 330px;
}

.TooltipExtenderBlock.MoveToTopBlock
{
	margin-top: -10px;
}

#DOTAHUDAghsStatusTooltip .TooltipExtenderBlock
{
	margin: 4px 0 2px -1px;
}

.TEB_HeaderContainer
{
	flow-children: right;
	width: 100%;
}

.TEB_HeaderContainer Image
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	img-shadow: black 0 1px 2px 1px;
	padding: 3px;
	box-shadow: black 0 1px 3px 0;
	border-radius: 4px;
}

.TEB_HeaderContainer Label
{
	vertical-align: center;
	font-size: 18px;
	margin-left: 7px;
	margin-top: 2px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0 2;
}

.TEB_Description
{
	margin-top: 5px;
	font-size: 15px;
	color: #9fb7c6;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0 2;
}

#DOTAHUDAghsStatusTooltip .TEB_Description
{
	color: #afc7e7;
}

#TEB_CustomAbility.TooltipExtenderBlock
{
	border-brush: gradient(linear, 0% 100%, 0% 0%, from(#5865f2), to(#9198ff));
}

#TEB_CustomAbility .TEB_HeaderContainer Image
{
	background-color: #5865f2;
}

#TEB_CustomAbility .TEB_HeaderContainer Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#9198ff), to(#a5acff));
}

.TEB_AbilityHint.TooltipExtenderBlock
{
	border-brush: gradient(linear, 0% 100%, 0% 0%, from(#1fb473), to(#70e9b4));
}

.TEB_AbilityHint.AghHint.TooltipExtenderBlock
{
	border-brush: gradient(linear, 0% 100%, 0% 0%, from(#6378b3), to(#92acf5));
}

.TEB_AbilityHint .TEB_HeaderContainer Image
{
	box-shadow: none;
	margin-left: -2px;
	padding: 0px 1px 2px 1px;
	height: 17px;
	width: 17px;
	wash-color: #72f2bc;
	img-shadow: black 0 1px 2px 1;
}

.TEB_AbilityHint.AghHint .TEB_HeaderContainer Image
{
	wash-color: #a4bdf5;
}

DOTAAghsDescription.InlineScepterDescription .TEB_AbilityHint.AghHint
{
	margin: 4px 1px 0 4px;
}

DOTAAghsDescription .TEB_AbilityHint.AghHint
{
	margin: 1px 10px 0 4px;
}

.IsItem .TEB_AbilityHint:not(.AghHint)
{
	margin: 1px 8px 0 2px;
}

.TEB_AbilityHint .TEB_HeaderContainer Label
{
	color: #71eab5;
	margin: 0 0 0 3px;
	text-transform: uppercase;
	font-size: 17px;
}

.TEB_AbilityHint.AghHint .TEB_HeaderContainer Label
{
	color: #92acf5;
}

.TEB_AbilityHint .TEB_HeaderContainer .TEB_CustomGameName
{
	text-transform: none;
	font-size: 14px;
	horizontal-align: right;
	vertical-align: center;
}

