/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.Tab_masteries Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#6b96aa), to(#a4c7d8));
}

.Currency_fortune Label
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#02babb), to(#00afd7));
}

#BC_Content .Content_fortune
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#3c989c), to(#4ebcd0));
	padding-right: 25px;
	background-image: url("s2r://panorama/images/custom_game/collection/fortune_icon_png.vtex");
	background-size: 21px 21px;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

#CB_List .CB_Currency_fortune
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#3c989c), to(#4ebcd0));
	background-image: url("s2r://panorama/images/custom_game/collection/fortune_icon_png.vtex");
}

.daily_fortune .CB_Button
{
	background-image: url("s2r://panorama/images/custom_game/collection/button_active_v2_png.vtex");
}

