/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.COMMON .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#8f9db6), color-stop(0.1, #8f9db6), color-stop(0.5, #3e424d), color-stop(0.9, #8f9db6), to(#8f9db6) );
}

.TREASURES.COMMON .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#8f9db6), color-stop(0.1, #8f9db6), color-stop(0.5, #3e424d), color-stop(0.9, #8f9db6), to(#8f9db6) );
}

.COMMON .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#8a9aa9), to(#bfcae6));
}

.COMMON .CI_EquippedItemFlag
{
	wash-color: #8a9aa9;
}

.UNCOMMON .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#5689c6), color-stop(0.1, #5689c6), color-stop(0.5, #264164), color-stop(0.9, #5689c6), to(#5689c6) );
}

.TREASURES.UNCOMMON .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#5689c6), color-stop(0.1, #5689c6), color-stop(0.5, #264164), color-stop(0.9, #5689c6), to(#5689c6) );
}

.UNCOMMON .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#5592cb), to(#8fbfe6));
}

.UNCOMMON .CI_EquippedItemFlag
{
	wash-color: #5592cb;
}

.RARE .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#4059d9), color-stop(0.1, #4059d9), color-stop(0.5, #222f73), color-stop(0.9, #4059d9), to(#4059d9) );
}

.TREASURES.RARE .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#4059d9), color-stop(0.1, #4059d9), color-stop(0.5, #222f73), color-stop(0.9, #4059d9), to(#4059d9) );
}

.RARE .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#5760d9), to(#97a4ff));
}

.RARE .CI_EquippedItemFlag
{
	wash-color: #4059d9;
}

.MYTHICAL .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#7d46e5), color-stop(0.1, #7d46e5), color-stop(0.5, #3e3453), color-stop(0.9, #7d46e5), to(#7d46e5) );
}

.TREASURES.MYTHICAL .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#7d46e5), color-stop(0.1, #7d46e5), color-stop(0.5, #3e3453), color-stop(0.9, #7d46e5), to(#7d46e5) );
}

.MYTHICAL .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#7d46e5), to(#b092ee));
}

.MYTHICAL .CI_EquippedItemFlag
{
	wash-color: #7d46e5;
}

.LEGENDARY .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#bb29cb), color-stop(0.1, #bb29cb), color-stop(0.5, #5f1d67), color-stop(0.9, #bb29cb), to(#bb29cb) );
}

.TREASURES.LEGENDARY .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#bb29cb), color-stop(0.1, #bb29cb), color-stop(0.5, #5f1d67), color-stop(0.9, #bb29cb), to(#bb29cb) );
}

.LEGENDARY .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#bb29cb), to(#e183ef));
}

.LEGENDARY .CI_EquippedItemFlag
{
	wash-color: #bb29cb;
}

.IMMORTAL .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#a27c2d), color-stop(0.1, #a27c2d), color-stop(0.5, #5c4719), color-stop(0.9, #a27c2d), to(#a27c2d) );
}

.TREASURES.IMMORTAL .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#a27c2d), color-stop(0.1, #a27c2d), color-stop(0.5, #5c4719), color-stop(0.9, #a27c2d), to(#a27c2d) );
}

.IMMORTAL .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#b6842b), to(#e6c068));
}

.IMMORTAL .CI_EquippedItemFlag
{
	wash-color: #c79836;
}

.ARCANA .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#9ed053), color-stop(0.1, #9ed053), color-stop(0.5, #4b6722), color-stop(0.9, #9ed053), to(#9ed053) );
}

.TREASURES.ARCANA .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#9ed053), color-stop(0.1, #9ed053), color-stop(0.5, #4b6722), color-stop(0.9, #9ed053), to(#9ed053) );
}

.ARCANA .CI_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#9ed053), to(#c4ed7d));
}

.ARCANA .CI_EquippedItemFlag
{
	wash-color: #9ed053;
}

.UNIQUE .CI_Background
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from(#e04747), color-stop(0.1, #e04747), color-stop(0.5, #661919), color-stop(0.9, #e04747), to(#e04747) );
}

.TREASURES.UNIQUE .CI_Background
{
	background-color: gradient( linear, 0% 0%, 60% 140%, from(#e04747), color-stop(0.1, #e04747), color-stop(0.5, #661919), color-stop(0.9, #e04747), to(#e04747) );
}

.UNIQUE .CI_Name
{
	color: gradient(linear, 0% 110%, 0% 0%, from(#bd312a), to(#ff6962));
}

.UNIQUE .CI_EquippedItemFlag
{
	wash-color: #e04747;
}

