/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.collection_cosmetics_precache
{
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/other_source_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/bundle_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/currency_icon_240_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/christmas_source_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/aura_green_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/aura_purple_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/diretide_emblem_orange_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/emblem_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/emblem_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/emblem_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/emblem_ti10_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/newbloom_aura_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/aura_gyrus_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/aura_orbis_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/aura_virtus_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/aura_anima_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/game_breaker_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_1_silver_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_1_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_2_silver_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_2_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_3_silver_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_3_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_4_silver_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_4_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_5_silver_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_5_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_6_silver_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/aura/season_reset_6_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_decorate_tree_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_festive_firework_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_firecrackers_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_summon_cny_balloon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_summon_cny_tree_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_summon_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_summon_snowman_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_summon_ti9_balloon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_throw_snowball_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_ti9_banner_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_ti9_instruments_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_ti9_monkey_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/cosmetic_skill/seasonal_ti9_shovel_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/hero_effect/skin_constellation_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/hero_effect/skin_living_energy_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/hero_effect/skin_burning_conviction_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/hero_effect/skin_nightshade_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_bronze_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_dark_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_diretide_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_fire_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_ice_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_midas_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_newbloom_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_paw_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_white_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_winter_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/high_five/high_five_rgb_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_avowance_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_blast_zone_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_bloodburst_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_blue_whirl_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_collapse_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_diretide_bats_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_dissolution_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_glade_grave_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_golden_touch_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_incineration_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_meltdown_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_raze_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_snowstorm_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_sparkles_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/kill_effect/kill_effect_supernova_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_sub_tier_2_consumable_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_breathtaking_benefaction_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_early_bird_charm_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_gg_token_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_legendary_lagresse_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_lucky_trinket_common_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_lucky_trinket_epic_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_lucky_trinket_rare_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_power_crystal_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_reroll_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_tipping_hand_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_golden_hand_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_conqueror_presence_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/bp_teamwork_enhancer_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/battle_pass_tier_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/misc/battle_pass_extra_rewards_bundle_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/chicken_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/flying_void_rex_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/forest_wolf_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/gold_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_devourling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_doomling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_flopjaw_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_greevil_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_huntling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_krobeling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_seekling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/golden_venoling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_aegis_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_default_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_gem_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_linken_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_octarine_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_refresh_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/lefty_ultimate_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/nian_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/onibi_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/roshan_platinum_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/roshan_courier_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/roshan_ti10_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/pet/scotty_christmas_2023_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/based_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/ez_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/kekw_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/kekwait_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/monkas_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/omegalul_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/pogu_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/pudge_mom_basher_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/pudge_shapka_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/roflan_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/spray/pepega_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/treasures/treasure_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/treasures/treasure_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/items/treasures/treasure_3_png.vtex");
}

