/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.DevRoot
{
	margin-bottom: 190px;
	align: left center;
	flow-children: right;
	z-index: -1;
}

#DevAbilityKVs
{
	flow-children: down;
	width: 400px;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.92);
	overflow: squish scroll;
	transition: width 0.1s ease-in-out 0s;
}

.HideDev #DevAbilityKVs
{
	width: 0px;
}

.DevAbilitySpecials
{
	flow-children: down;
}

.DevAbilityImage
{
	width: 40px;
	height: 40px;
}

.DevAbilitySpecial
{
	flow-children: down;
}

.DevAbilityConfig
{
	border-bottom: 1px solid gray;
	padding: 8px;
	width: 500px;
}

.DevAbilityName
{
	margin-left: 44px;
	margin-top: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.DevAbilitySpecials
{
	margin-top: 40px;
	width: 100%;
}

.DevAbilitySpecial
{
	flow-children: right;
	width: 100%;
}

.DevAbilitySpecialName
{
	width: 180px;
	height: 24px;
	color: white;
	text-overflow: shrink;
}

.DevAbilitySpecialParams
{
	width: 150px;
}

.DevAbilitySpecialButton
{
	background-color: rgb(68, 67, 67);
	width: 24px;
	height: 22px;
	margin-right: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 0;
}

.DevAbilitySpecialButton:hover
{
	saturation: 1.5;
	brightness: 1.5;
}

.DevAbilitySpecialButtonContent
{
	font-weight: bold;
	align: center center;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 2px 1px 2px 2;
}

.DevAbilityDecrement .DevAbilitySpecialButtonContent
{
	color: red;
}

.DevAbilityIncrement .DevAbilitySpecialButtonContent
{
	color: green;
}

#HideDevKVs
{
	width: 24px;
	height: 60px;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
	background-size: 18px 20px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.92);
	transition: transform 0.1s ease-in-out 0s;
	border-left: 1px solid #595959;
}

.HideDev #HideDevKVs
{
	transform: rotateY(180deg);
	border-left: 0px solid transparent;
}

