/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.Collection_Subscriptions_Root
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/custom_game/collection/cosmetics/cosmetic_content_bg_png.vtex");
	background-size: 100%;
	box-shadow: rgba(0, 0, 0, 0.79) 0px 0px 3px 0;
}

.CS_ContentRoot
{
	height: 100%;
	flow-children: down;
	horizontal-align: center;
}

.CS_Header_Root
{
	background-color: rgba(0, 0, 0, 0.6);
	width: 920px;
	margin: 5px 0 10px 0;
}

.CS_Header
{
	flow-children: right;
	align: center center;
	padding: 15px;
}

.CS_Header > Label
{
	color: #dfe1f4;
	vertical-align: center;
}

.SubTier_1 .CS_Header_UnsubHeader
{
	visibility: collapse;
}

.CS_Header_SubHeader
{
	visibility: collapse;
}

.SubTier_1 .CS_Header_SubHeader
{
	visibility: visible;
}

.CS_Header_SubHeader.SubType
{
	margin-right: 1px;
	text-shadow: 0px 0px 2px 2 black;
}

.SubTier_1 .CS_Header_SubHeader.SubType,.BC_Tier_1 .CS_MainPanel_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#4680ad), to(#c4d2ad));
}

.SubTier_2 .CS_Header_SubHeader.SubType,.BC_Tier_2 .CS_MainPanel_Name
{
	color: gradient(linear, 0% 100%, 0% 0%, from(#df9724), to(#fee1b8));
}

.BAutoSubscirption .CS_Header_SubHeader.DefaultSub,.SubSource_Trial .CS_Header_SubHeader.DefaultSub
{
	visibility: collapse;
}

.BAutoSubscirption .CS_Header_SubHeader.Auto
{
	visibility: visible;
}

.CS_Header_SubHeader.Auto
{
	visibility: collapse;
}

.CS_Header_SubHeader.TrialSub
{
	visibility: collapse;
}

.SubSource_Trial .TrialSub
{
	visibility: visible;
}

#CS_SubscriptionPanels
{
	flow-children: right;
	padding-left: -20px;
}

.C_Subscription
{
	flow-children: down;
	width: 450px;
	margin-left: 20px;
}

#CS_MainPanel
{
	flow-children: right;
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bg_1_png.vtex");
	background-size: 100%;
	width: 100%;
	padding: 20px 10px;
	img-shadow: black 0px 0px 5px 1;
}

#CS_MainPanel:hover
{
	brightness: 1.2;
}

#CS_MainPanel:active
{
	brightness: 0.85;
}

.BC_Tier_2 #CS_MainPanel
{
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bg_2_png.vtex");
}

.SubTier_1 .BC_Tier_1 #CS_MainPanel
{
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bg_1_active_png.vtex");
}

.SubTier_2 .BC_Tier_2 #CS_MainPanel
{
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bg_2_active_png.vtex");
}

.C_BonusesRoot
{
	width: 100%;
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/sub_bonuses_bg_png.vtex");
	background-size: 100%;
	padding-top: 20px;
	margin: -30px 0 20px 0;
	z-index: -1;
	height: 0px;
	transition: height 0.15s ease-in-out 0s;
}

.BShowBonuses .C_BonusesRoot
{
	margin-bottom: 0px;
	height: 220px;
}

.Collection_Subscriptions_Root #BC_Content
{
	align: center top;
	margin: 15px 20px;
}

.CS_Logo
{
	width: 73px;
	height: 68px;
	background-image: url("s2r://panorama/images/custom_game/collection/sub_1_png.vtex");
	background-size: 100%;
	vertical-align: center;
}

.BC_Tier_2 .CS_Logo
{
	background-image: url("s2r://panorama/images/custom_game/collection/sub_2_png.vtex");
}

.CS_NameRoot
{
	flow-children: down;
	vertical-align: center;
	margin-left: 10px;
	width: 200px;
}

.CS_NameRoot Label
{
	text-transform: uppercase;
	font-weight: semi-bold;
	text-shadow: 0px 1px 2px 2 rgba(0, 0, 0, 0.6);
}

.CS_NameRoot .CS_Advantages
{
	font-size: 13px;
	color: #ccc5b2;
	transition-property: text-shadow, color;
	transition-duration: 0.2s;
	font-weight: normal;
	text-shadow: #71809a 0px 0px 0px 0;
	margin-top: 1px;
}

.C_Subscription.BC_Tier_1 #CS_MainPanel:hover .CS_Advantages
{
	color: #e0d8c4;
	text-shadow: #71809a 0px 0px 3px 2;
}

.C_Subscription.BC_Tier_2 #CS_MainPanel:hover .CS_Advantages
{
	text-shadow: #b77f07 0px 0px 3px 2;
}

.CS_ButtonsRoot
{
	align: right center;
}

.C_Subscription #BC_ConfPurchaseButton
{
	padding: 0px;
	margin: 0px;
}

.CS_ButtonsRoot Button
{
	width: 140px;
	height: 50px;
	background-image: url("s2r://panorama/images/custom_game/collection/sub_button_1_png.vtex");
	background-size: 100%;
}

.CS_ButtonsRoot Button Label
{
	align: center center;
	text-align: center;
	color: #eeeeee;
	text-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px 3;
}

.CS_Bonuses
{
	flow-children: down;
}

.CS_ActivatedSubscription_Info
{
	flow-children: down;
	width: 100%;
	padding: 10px 10px 0 10px;
	visibility: collapse;
	margin-top: 5px;
}

.BShowBonuses .CS_ActivatedSubscription_Info
{
	margin-top: 0px;
}

.SubTier_1:not(.SubTier_2) .BC_Tier_1 .CS_ActivatedSubscription_Info,.SubTier_2 .BC_Tier_2 .CS_ActivatedSubscription_Info
{
	visibility: visible;
}

.CS_ActivatedSubscription_Info Label
{
	text-transform: uppercase;
	color: white;
	wash-color: #dfe1f4;
	font-size: 16px;
}

.CS_AS_Type_Info
{
	width: 100%;
}

.CS_AS_Manage
{
	horizontal-align: right;
	font-weight: semi-bold;
	background-image: url("s2r://panorama/images/custom_game/collection/subscription/manage_icon_png.vtex");
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 100% -20%;
	padding-right: 20px;
	visibility: collapse;
}

.BManagmentAvailable .CS_AS_Manage
{
	visibility: visible;
}

.CS_AS_Manage:hover
{
	brightness: 1.5;
}

.CS_Error
{
	horizontal-align: center;
	background-color: gradient( linear, 60% -120%, 75% 120%, from(rgba(255, 79, 79, 0.3)), color-stop(0.5, rgba(255, 79, 79, 0.05)), to(rgba(255, 79, 79, 0.3)) );
	border: 2px solid #ff4d4d;
	border-radius: 3px;
	padding: 8px 25px;
	text-align: center;
	margin: 10px 50px 0 50px;
	color: #e4d5ee;
	transition-property: background-color, border;
	transition-duration: 0.15s;
	visibility: collapse;
}

.BErrorWithSubscription .CS_Error
{
	visibility: visible;
}

.CS_Error:hover
{
	background-color: gradient( linear, 60% -120%, 75% 120%, from(rgba(255, 52, 48, 0.3)), color-stop(0.5, rgba(255, 52, 48, 0.05)), to(rgba(255, 52, 48, 0.3)) );
	border: 2px solid #ff332f;
}

.CS_CancelSubscription
{
	visibility: collapse;
}

.SubTier_1.BAutoSubscirption:not(.SubTier_2) .BC_Tier_1 .CS_CancelSubscription,.SubTier_2.BAutoSubscirption .BC_Tier_2 .CS_CancelSubscription
{
	visibility: visible;
}

.SubTier_1.BAutoSubscirption .BC_Tier_1 .CS_CancelSubscription:hover,.SubTier_2.BAutoSubscirption .BC_Tier_2 .CS_CancelSubscription:hover
{
	brightness: 1.5;
}

.SubTier_1.BAutoSubscirption .BC_Tier_1 .CS_CancelSubscription:active,.SubTier_2.BAutoSubscirption .BC_Tier_2 .CS_CancelSubscription:active
{
	brightness: 0.8;
}

.CS_AS_Date
{
	margin-top: 3px;
	visibility: collapse;
}

.BSubDate_start_date .CS_AS_Date
{
	visibility: visible;
}

